body {
  background: #eee;;
  font-family: Arial;
 }

.logo {
  display: block;
  position: relative;
  left: 5px;
  padding: 0px;
  width: 26%;
  max-width: 120px;
  height: auto;
 }

.header-nav-list--item-link {
  font-family: Ubuntu;
  font-size: 19px;
  color: black;
  text-decoration: none;
 }

.header-nav-list--item-link:hover {
  opacity: 0.5;
 }

.header-nav-list--item{
  display: inline-block;
  padding: 5px;
 }

.header-nav-list{
  width: 100%;
  height: auto;
  border-bottom: 2px solid black;
  text-align: center;
  margin-left: -10px;
 }
 
@media screen and (min-width:100px) and (max-width:412px) {
 .header-nav-list {
  width: 100% !important;
  display: flex !important;
  border-bottom: none;
 }
  
 .header-nav-list--item-link {
  font-size: 14px !important; 
  margin: 0px;
 }
}
 
@media screen and (min-width:300px) and (max-width:568px) {
 .header-nav-list {
  width: 60%;
  height: auto;
  display: flex;
  border-bottom: none;
  margin-left: -25px;
 }
  
 .header-nav-list--item-link {
  font-size: 16px !important; 
  margin: 0px;
 }
  
 .Title {
  max-width: 320px;
  margin: 0;
  font-size: 20px !important;
  text-indent: 20px !important;
 }
  
 .menu-accadem-list-used{
  width: 50%;
  font-size: 12px;
  margin-left: 0px !important;
  text-decoration: none;
 }
}

ul.submenu > li {
  display: block;
 }

ul.submenu{
  position: absolute;
  margin: 10px;
  opacity: 0; 
  visibility: hidden;
  transition: all .3s ease .15s; 
 }

ul.submenu >li> a{
  color: black;
  float: left;
  text-decoration: none;
  padding: 5px;
 }

ul.header-nav-list > li:hover > ul.submenu {
  display: block;
  opacity: 1; 
  visibility: visible;
 }

ul.submenu >li> a:hover {
  opacity: 0.5;
 }  

.header-nav-list--item-link {
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-decoration: none;
 }

.menu-academ-img {
 display: inline-block;
 width: 200px;
 height: 100px;
 vertical-align: middle;
 padding: 5px;
  float: right;
 }

.academs-of-Tennis {
 display: inline-block;
 width: auto;
}

.Title {
  display: block;
  width: auto;
  height: auto;
  text-indent: 200px;
  font-size: 30px;
  padding: 15px;
  margin-top: 50px;
  letter-spacing: 5px;
  }

.menu-accadem-list-used{
  width: auto;
  color: black;
  font-size: 15px;
  margin-left: 50px;
 }

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 15px;
 }

.menu-accadem-list {
  line-height: 7;
  font-weight: bold;
  display: inline-block;
  width: 550px;
  list-style-type: none;
  vertical-align: top;
  text-align: left;
 }