body {
  background: #eee;;
  font-family: Arial;
 }

.image-header {
  margin-top: -20px;
  margin-left: -50px;
 }

.header-nav-list--item-link {
  font-family: Cambria;
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin-left: 20px;
 }

.header-nav-list--item-link:hover {
  opacity: 0.5;
 }

.header-nav-list--item{
  display: inline-block;
  padding: 5px;
 }

.header-nav-list{
  border-bottom: 2px solid black;
 }

ul.submenu > li {
  display: block;
 }

ul.submenu{
  display: none;
 }

ul.submenu >li> a{
  color: black;
  float: left;
  text-decoration: none;
  padding: 5px;
 }

ul.header-nav-list > li:hover > ul.submenu {
  display: block;
 }

ul.submenu >li> a:hover {
  opacity: 0.5;
 }

footer {
  text-align: center;
  padding: 10px;
  font-size: 15px;
 }  

.Title {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  letter-spacing: 5px;
 }

.admin-tabl {
  display: flex;
  width: 500px;
  height: auto;
  border: 2px solid black;
  margin-top: 50px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
 }

.tabl-name {
  display: flex;
  text-align: left;
  width: 600px;
  height: auto;
  padding-top: 10px;
  font-weight: bold;
  font-size: 17px;
 }

.Name-firm {
  color: black;
  text-decoration: none;
 }

.button-item {
  margin-left: 100px;
  margin-top: 10px;
  font-weight: bold;
  border: 1px solid black;
 }

.img-text {
  display: block;
  margin-top: 100px;
  font-size: 20px;
 }

.img-rekl {
  width: 200px;
  height: 100px; 
 }
 


  