body {
  background: #eee;;
  font-family: Arial;
 }

.logo {
  display: block;
  position: relative;
  left: 5px;
  padding: 0px;
  width: 26%;
  max-width: 120px;
  height: auto;
 }

.header-nav-list--item-link {
  font-family: Ubuntu;
  font-size: 20px;
  color: black;
  text-decoration: none;
 }

.header-nav-list--item-link:hover {
  opacity: 0.5;
 }

.header-nav-list--item{
  display: inline-block;
  padding: 5px;
 }

.header-nav-list{
  min-width: 200px;
  width: 100%;
  height: auto;
  border-bottom: 2px solid black;
  text-align: center;
 }
 
 @media screen and (min-width:100px) and (max-width:412px) {
 .header-nav-list {
  width: 100% !important;
  display: flex !important;
  border-bottom: none !important;
 }
  
 .header-nav-list--item-link {
  font-size: 14px !important; 
  margin: 0px;
 }
 
 .Title {
  max-width: 320px;
  width: 50%;
  margin: 0;
  font-size: 20px !important;
  text-indent: 20px !important;
 }
}

@media screen and (min-width:412px) and (max-width:768px) {
 .header-nav-list {
  width: 60%;
  height: auto;
  display: flex;
  border-bottom: none;
  margin-left: -25px;
 }
  
 .header-nav-list--item-link {
  font-size: 16px !important; 
  margin: 0px;
 }
 
 .Title {
  max-width: 320px;
  width: 50%;
  margin: 0;
  font-size: 20px !important;
  text-indent: 20px !important;
 }
} 
 
ul.submenu > li {
  display: block;
 }

ul.submenu{
  position: absolute;
  margin: 10px;
  opacity: 0; 
  visibility: hidden;
  transition: all .3s ease .15s; 
 }

ul.submenu >li> a{
  color: black;
  float: left;
  text-decoration: none;
  padding: 5px;
 }

ul.header-nav-list > li:hover > ul.submenu {
  display: block;
  opacity: 1; 
  visibility: visible;
 }

ul.submenu >li> a:hover {
  opacity: 0.5;
 }
 
.Title {
  display: block;
  width: auto;
  height: auto;
  text-indent: 200px;
  font-size: 30px;
  padding: 15px;
  margin-top: 50px;
  letter-spacing: 5px;
  }
 
footer {
  margin-top: 50px;
  font-size: 15px;
 }

.admin-tabl {
  display: flex;
  width: 500px;
  height: auto;
  border: 2px solid black;
  margin-top: 50px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
 }

.tabl-name {
  display: flex;
  text-align: left;
  width: 600px;
  height: auto;
  padding-top: 10px;
  font-weight: bold;
  font-size: 17px;
 }

.Name-firm {
  color: black;
  text-decoration: none;
 }

.button-item {
  margin-left: 100px;
  margin-top: 10px;
  font-weight: bold;
  border: 1px solid black;
 }

.img-text {
  display: block;
  margin-top: 100px;
  font-size: 20px;
 }

.img-rekl {
  width: 200px;
  height: 100px; 
 }
 


  