body {
  background: #eee;;
  font-family: Arial;
 }

.logo {
  display: block;
  position: relative;
  left: 5px;
  padding: 0px;
  width: 26%;
  max-width: 120px;
  height: auto;
 }

.header-nav-list--item-link {
  font-family: Ubuntu;
  font-size: 19px;
  color: black;
  text-decoration: none;
 }

.header-nav-list--item-link:hover {
  opacity: 0.5;
 }

.header-nav-list--item{
  display: inline-block;
  padding: 5px;
 }

.header-nav-list{
  width: 100%;
  height: auto;
  border-bottom: 2px solid black;
  text-align: center;
  margin-left: -10px;
 }
 
@media screen and (min-width:100px) and (max-width:412px) {
 .header-nav-list {
  display: flex !important;
  font-size: 11px !important;
  border-bottom: none;
  margin-right: 25px;
 }
  
 .header-nav-list--item-link {
  font-size: 14px !important; 
  margin: 0px;
 }
 
 .Corts-of-Kiev{
  text-align: center;
  width: 100%;
 }
 
 .Title {
  max-width: 320px;
  font-size: 20px !important;
  text-indent: 20px !important;
 }
 
 .menu-cort-list {
  display: block !important;
  margin-left: 5px !important;
  font-size: 7px !important;
  list-style-type: none;
  width: 100% !important;
  height: 50% !important;
 } 
 
.menu-cort-img {
  width: 200px !important; 
  
 }

 .menu-cort-used {
  font-size: 13px !important;
  width: auto;
  margin-left: 50px !important;
  margin-bottom: -50px !important;
 }
 
}

@media screen and (min-width:412px) and (max-width:568px) {
 .header-nav-list {
  width: 60%;
  height: auto;
  display: flex;
  border-bottom: none;
  margin-left: -25px;
  margin-right: 25px;
 }
  
 .header-nav-list--item-link {
  font-size: 16px !important; 
  margin: 0px;
 }
 
 .menu-accadem-list-used{
  width: 50%;
  font-size: 12px;
  margin-left: 0px !important;
  text-decoration: none;
 }
 
 .Title {
  max-width: 320px;
  margin: 0;
  font-size: 20px !important;
  text-indent: 20px !important;
 }
 
 .Corts-of-Kiev{
  text-align: center;
  width: 100%;
 }
 
 .menu-cort-list {
  display: block !important;
  margin-left: 5px !important;
  font-size: 7px !important;
  list-style-type: none;
  width: 100% !important;
  height: 50% !important;
 } 
 
.menu-cort-img {
  width: 200px !important; 
  margin-left: 100px !important;
 }

 .menu-cort-used {
  font-size: 13px !important;
  width: auto;
  margin-left: -50px !important;
  margin-bottom: -50px !important;
 }
}

ul.submenu > li {
  display: block;
 }

ul.submenu{
  position: absolute;
  margin: 10px;
  opacity: 0; 
  visibility: hidden;
  transition: all .3s ease .15s; 
 }

ul.submenu >li> a{
  color: black;
  float: left;
  text-decoration: none;
  padding: 5px;
 }

ul.header-nav-list > li:hover > ul.submenu {
  display: block;
  opacity: 1; 
  visibility: visible;
 }

ul.submenu >li> a:hover {
  opacity: 0.5;
 }  

.header-nav-list--item-link {
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-decoration: none;
 }

footer {
  display: block;
  margin-top: 50px;
  padding: 10px;
  font-size: 15px;
 } 

.Title {
  display: block;
  font-size: 30px;
  margin-top: 30px;
  letter-spacing: 7px;
  text-align: center;
  }

.Corts-of-Kiev{
  display: flex;  
  text-align: center;
  width: 100%;
 }

.menu-cort {
  display: block;
 }

.menu-cort-img {
 width: 250px;
 height: 150px;
 display: block;
 text-align: center;
 margin-left: 100px;
 }

.menu-cort-used {
 display: inline-block;
 width: auto;
 height: 100px;
 font-size: 20px;
 color: black;
 line-height: 5;
 text-decoration: none;
 }

.menu-cort-list {
 display: block;
 margin-left: 150px;
 font-size: 20px;
 list-style-type: none;
 width: auto;
 height: auto;
 padding: 10px;
 float: left;
 }

