body {
  background: #eee;;
  font-family: Arial;
 }

.image-header {
  margin-top: -20px;
  margin-left: -50px;
 }

.header-nav-list--item-link {
  font-family: Cambria;
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin-left: 20px;
 }

.header-nav-list--item-link:hover {
  opacity: 0.5;
 }

.header-nav-list--item{
  display: inline-block;
  padding: 5px;
 }

.header-nav-list{
  border-bottom: 2px solid black;
 }

ul.submenu > li {
  display: block;
 }

ul.submenu{
  display: none;
 }

ul.submenu >li> a{
  color: black;
  float: left;
  text-decoration: none;
  padding: 5px;
 }

ul.header-nav-list > li:hover > ul.submenu {
  display: block;
 }

ul.submenu >li> a:hover {
  opacity: 0.5;
 }

footer {
  display: block;
  margin-top: 50px;
  padding: 10px;
  font-size: 15px;
 } 

.Title {
  display: block;
  font-size: 30px;
  margin-top: 30px;
  letter-spacing: 7px;
  text-align: center;
  }

.Corts-of-Kiev{
  display: flex;  
  text-align: center;
  width: 100%;
 }

.menu-cort {
  display: block;
 }

.menu-cort-img {
 width: 250px;
 height: 150px;
 display: block;
 text-align: center;
 margin-left: 100px;
 }

.menu-cort-used {
 display: inline-block;
 width: auto;
 height: 100px;
 font-size: 20px;
 color: black;
 line-height: 5;
 text-decoration: none;
 }

.menu-cort-list {
 display: block;
 margin-left: 150px;
 font-size: 20px;
 list-style-type: none;
 width: auto;
 height: auto;
 padding: 10px;
 float: left;
 }

