body {
  background: #eee;;
  font-family: Arial;
 }

.logo {
  display: block;
  position: relative;
  left: 5px;
  padding: 0px;
  width: 26%;
  max-width: 120px;
  height: auto;
 }

.header-nav-list--item-link {
  font-family: Ubuntu;
  font-size: 20px;
  color: black;
  text-decoration: none;
 }

.header-nav-list--item-link:hover {
  opacity: 0.5;
 }

.header-nav-list--item{
  display: inline-block;
  padding: 5px;
 }

.header-nav-list{
  min-width: 200px;
  width: 100%;
  height: auto;
  border-bottom: 2px solid black;
  text-align: center;
 }
 
 @media screen and (min-width:100px) and (max-width:412px) {
 .header-nav-list {
  width: 100% !important;
  display: flex !important;
  border-bottom: none;
 }
  
 .header-nav-list--item-link {
  font-size: 14px !important; 
  margin: 0px;
 }
 
 .block-item{
  width: auto;
  max-width: 310px;
 }
 
 iframe{
  width: 360px !important;
  height: 215px !important;
  margin-left: -15px !important;
 }
 
.image-home-page {
  width: 350px !important;
  height: 250px !important;
 } 
}

@media screen and (min-width:412px) and (max-width:768px) {
 .header-nav-list {
  width: 60%;
  height: auto;
  display: flex;
  border-bottom: none;
  margin-left: -25px;
 }
  
 .header-nav-list--item-link {
  font-size: 16px !important; 
  margin: 0px;
 }
 
 
.image-home-page {
  width: 350px !important;
  height: 250px !important;
 }
  
 .number-rating{
  width: 90% !important;
  margin: 0px;
  font-size: 13px !important; 
 }
  
 iframe{
  width: 360px !important;
  height: 215px !important;
  margin-left: -15px !important;
 }
 
 .block-item{
  border-bottom: none;
 }
 
 .text-main >p {
  display: block;
  width: 90%;
  text-indent: 10px !important;
  font-size: 15px;
 }
}

.article-likes {
  position: relative;
  display: inline-block;
  float: left;
 }
  
.article-likes img{
  max-width: 30px;
  cursor: pointer;  
 }

.block-item{
  margin-top: 100px;
  display: flex;
  border-bottom: 1px solid black;
 }

.article-likes-label {
  color: black;
  top: 2px;
  font-size: 15px;
 }

.image-home-page {
  width: 550px;
  height: 350px;
  display: block;
  margin-top: 0px;
  float: right;
 }

.number-rating{
  display: flex;
  width: 100px;
  padding-right: 10px;
  color: black;
  font-size: 17px; 
  font-weight: bold; 
 }

.text-main {
  font-family: Cambria;
  color: black;
  width: auto;
  heigth: auto;
  text-indent: 30px;
  font-size: 15px;
  text-align: left;
 }

form {
  margin-top: 5px;
  float: left;
 }

ul.submenu > li {
  display: block;
 }

ul.submenu{
  position: absolute;
  margin: 10px;
  opacity: 0; 
  visibility: hidden;
  transition: all .3s ease .15s; 
 }

ul.submenu >li> a{
  color: black;
  float: left;
  text-decoration: none;
  padding: 5px;
 }

ul.header-nav-list > li:hover > ul.submenu {
  display: block;
  opacity: 1; 
  visibility: visible;
 }

ul.submenu >li> a:hover {
  opacity: 0.5;
 }

iframe {
  width: 560px;
  height: 315px;
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 15px;
 }   