body {
  background: #eee;;
  font-family: Arial;
 }

.logo {
  display: block;
  position: relative;
  left: 5px;
  padding: 0px;
  width: 26%;
  max-width: 120px;
  height: auto;
 }

.header-nav-list--item-link {
  font-family: Ubuntu;
  font-size: 19px;
  color: black;
  text-decoration: none;
 }

.header-nav-list--item-link:hover {
  opacity: 0.5;
 }

.header-nav-list--item{
  display: inline-block;
  padding: 2px;
 }

.header-nav-list{
  width: 100%;
  height: auto;
  border-bottom: 2px solid black;
  text-align: center;
  margin-left: -10px;
 }
 
@media screen and (min-width:100px) and (max-width:412px) {
 .header-nav-list {
  margin-left: -50px !important;
  display: flex !important;
  font-size: 11px !important;
  border-bottom: none;
  margin-right: 25px;
 }
  
 .header-nav-list--item-link {
  font-size: 14px !important; 
  margin: 0px;
 }
 
.video-lessons {
  width: 100%;
  text-align: center !important;
  margin-left: 100px !important;
 }  
}

@media screen and (min-width:412px) and (max-width:568px) {
 .header-nav-list {
  width: 100%;
  height: auto;
  display: flex;
  border-bottom: none;
  margin-left: -50px;
  margin-right: 5px;
  letter-spacing: 1px !important;
 }
  
 .header-nav-list--item-link {
  font-size: 16px !important; 
  margin: 0px;
  padding: -2px !important;
 }
 
 .menu-accadem-list-used{
  width: 50%;
  font-size: 12px;
  margin-left: 0px !important;
  text-decoration: none;
 }
 
 .video-lessons {
  width: 100%;
  text-align: center !important;
  margin-left: 100px !important;
 }  
}

ul.submenu > li {
  display: block;
 }

ul.submenu{
  position: absolute;
  margin: 10px;
  opacity: 0; 
  visibility: hidden;
  transition: all .3s ease .15s; 
 }

ul.submenu >li> a{
  color: black;
  float: left;
  text-decoration: none;
  padding: 5px;
 }

ul.header-nav-list > li:hover > ul.submenu {
  display: block;
  opacity: 1; 
  visibility: visible;
 }

ul.submenu >li> a:hover {
  opacity: 0.5;
 }  

.header-nav-list--item-link {
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-decoration: none;
 }

.Title {
  display: block;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 150px;
  letter-spacing: 5px;
  text-align: center;
 }

.video-lessons {
  display: inline-block;
  margin-top: 50px;
  width: 90%;
  max-width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
 }

.video-lessons-item{
  display: inline-block;
  list-style-type: none;
  width: 45%;
  margin-left: 50px;
  margin-top: 50px;
 }

.video-item {
  display: block;
  color: black;
  font-size: 18px;
  text-decoration: none;
  cursor: text;
 }

iframe {
  display: inline-block;
  float: right;
  margin-top: 10px;
 }

footer {
  text-align: center;
  margin-top: 25px;
  padding: 10px;
  font-size: 15px;
 }   