body {
  background: #eee;;
  font-family: Arial;
 }

.image-header {
  margin-top: -20px;
  margin-left: -50px;
 }

.header-nav-list--item-link {
  font-family: Cambria;
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin-left: 20px;
 }

.header-nav-list--item-link:hover {
  opacity: 0.5;
 }

.header-nav-list--item{
  display: inline-block;
  padding: 5px;
 }

.header-nav-list{
  border-bottom: 2px solid black;
 }

ul.submenu > li {
  display: block;
 }

ul.submenu{
  display: none;
 }

ul.submenu >li> a{
  color: black;
  float: left;
  text-decoration: none;
  padding: 5px;
 }

ul.header-nav-list > li:hover > ul.submenu {
  display: block;
 }

ul.submenu >li> a:hover {
  opacity: 0.5;
 }

.Title {
  display: block;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 150px;
  letter-spacing: 5px;
  text-align: center;
 }

.video-lessons {
  display: inline-block;
  margin-top: 50px;
  width: 90%;
  max-width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
 }

.video-lessons-item{
  display: inline-block;
  list-style-type: none;
  width: 45%;
  margin-left: 50px;
  margin-top: 50px;
 }

.video-item {
  display: block;
  color: black;
  font-size: 18px;
  text-decoration: none;
  cursor: text;
 }

iframe {
  display: inline-block;
  float: right;
  margin-top: 10px;
 }

footer {
  text-align: center;
  margin-top: 25px;
  padding: 10px;
  font-size: 15px;
 }   